body{
    padding-top: 10px;
    padding-left: 20px;
	font-family: "Arial";
}
h2{
    font-family: "Arial";
    margin-bottom: 10px;
	margin-top: 2px;
	font-size: 19px;
	text-transform: uppercase;
	color: #000000;
}
#error{
	margin-bottom: 20px;
	padding: 10px;
	color: #D8000C;
	background-color: #FFBABA;
}